# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Cypress specific
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/results/

# IDE specific
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test results
coverage/
.nyc_output/

# Build output
dist/
build/